.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.bg-testament{
  height: 250px;
  background-color:  #1b1b1b;
  color: white;
}

h1{
  margin: 0;
}

.row{
  position: relative;
  bottom: 30px;
  width: 900px;
  background-color: white;

}
.row .col{
  padding: 0;
}