body{
  margin-top: 3em;

}

hr{
  border: 1px solid #E82011;
}

.bg-testament{
  height: 250px;
  /* background-color:  #4272d7; */
  color: black;
  padding: 0 16em;
  position: relative;
}

label{
  color:black;
}

h1{
  margin: 0;
  color: black;
}
.card-testament{
  background-color: white;
  position: relative;
  top:0px;
  border-radius: .9%;
  padding: 1em;;
  border: 5px solid black;
  height: 500px;
  margin-top: 2em;
}

.btn{
  background-color: #4272d7;
  margin-top: 2em;
  margin-left:250px;
  margin-bottom: 2em;
}