<form (ngSubmit)="sendSignupForm(myForm)" #myForm="ngForm">
  <h2> Signup </h2>
  <div class="image-upload">
      <label for="file-input">
          <img src="https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-200_camera_import_images_photos-256.png" width="100px;"/>
      </label>
  <a class="btn-floating btn-large waves-effect waves-light red"><input id="file-input" type="file"/><i class="material-icons">add</i></a>
      
  </div>
  <br>
  <label> First Name </label>
  <input placeholder="First Name" type="text" [(ngModel)]="username" name="username"/>
  <label> Last Name </label>
  <input placeholder="Last Name" type="text" [(ngModel)]="name" name="lastName"/>
  <br>
  <label> Email </label>
  <input placeholder="Mobile number or email" type="email" [(ngModel)]="secret" name="email"/>
  <br>  
  <label> Password </label>
  <input placeholder="Your Password" type="password" [(ngModel)]="password" name="password"/>
  <br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Create Account
        <i class="material-icons right">send</i>
      </button>
</form>
<p class="error"> {{ error }} </p>

