<app-navbar></app-navbar>
<button class="btn waves-effect waves-light" type="submit" name="action">Edit
    <i class="material-icons">border_color</i>
</button>

<button class="btn waves-effect waves-light" type="submit" name="action">Delete
    <i class="material-icons">delete</i>
</button>
<div class="testament-details"> 
<h1>Last Will and Testament by {{testament.testament[0].owner}}</h1>

<p>{{ testament | json}}</p>

<p>{{testament.testament[0].description}}</p>
<p class="data-info"> <b> Executor Contact:</b> {{testament.testament[0].executorEmail}}</p>
<p class="data-info"> <b> Created at:</b> {{testament.testament[0].created_at}}</p>

<h2>Beneficiaries</h2>

<ul *ngFor="let asset of assets">
  <li>{{asset.assets[0]}}</li>
</ul>

</div>
