.waves-effect{
  position: relative;
  left: 550px;
  top: 100px;

}

hr{
  margin-left:300px;
  margin-right: 300px;
  border-color: #E82011;
}

p{
  position: relative;
  left: 525px;
  top: 300px;
}

h4{
  text-align: center;
  /* margin-left: 200px; */
}

h3{
  padding-top: 2em;
  position: relative;
  left: 525px;
}
button{
  position: relative;
  top: 100px;
  left: 550px;
}