<app-navbar></app-navbar>
<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
  <h2>Asset Details</h2>
  <label for="">Asset Name</label>
  <input type="text" name="assetName">
  <label for="">Upload File</label>
  <input type="file" name="docs" [(ngModel)]="file" required />
  <br>
  <label for="">Beneficiary Name</label>
  <input type="text" name="beneficiaryName">
  <label> Beneficiary Email</label>
  <input type="text" name="emailTo" [(ngModel)]="emailTo" required/>
  <a (click)="addAsset()" type="submit" class="btn btn-floating btn-large pulse"><i class="material-icons">add</i></a>
 </form>

<div *ngIf="hasAssets">
  <ul *ngFor="let asset of assets">
    <li>{{asset.name}}</li>
    <li><a href="">{{asset.docs}}</a></li>
    <li>{{asset.beneficiaryName}}</li>
    <li>asset.emailTo</li>

  </ul>

</div>