.wrapped-form{
  margin: 2em 32em;
  position: relative;
  right: 450px;
  border: 5px solid black;
  padding: 1em;
 
}

.select-asset{
  position: relative;
  width: 400px;
  left: 300px;
  top:80px;
}

h2{
  font-size: 20px;
  font-weight: 600;
}

.benefitiarie{
  position: relative;
  top: 50px;

}
.card{
  background-color: palegoldenrod;
}

.btn-add{
  position: relative;
  left:400px;
  bottom: 80px;
}