<app-navbar></app-navbar>
<hr class="one-hr">
<h1>ASSETS AND BENEFICIARIES</h1>
<hr />
<p class="asset-leyend"> Your beneficiaries are the people that will receive your property. These are normally
  <br /> your spouse, children, other relatives, and close friends.
  <br /> You can also make any special bequests regarding any digital assets you own. </p>
<div class="card-reminder">
  <p>Remind me via email to chek my account every</p> <!–– ths should appear in other view for example after creating the account ––>
  <div class="input-field col s12">
    <select>
      <option value="" selected>Choose your option</option>
      <option value="1">Every month</option>
      <option value="2">Every 3 months</option>
      <option value="3">Every 1 year</option>
      <option value="3">Every 2 years</option>
    </select>
  </div>
</div>
<br>
<br>
<div class="wrapped-form">
  <form class="assetForm" (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
    <h2>Create Asset and Add your Benefitiary</h2>
    <label for="">Asset Name</label>
    <input type="text" name="assetName" [(ngModel)]="assetName">
    <div class="file-field input-field">
      <div class="btn">
        <span>Upload File</span>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <br />  <!–– brs should be removed and do the styling correclty  ––>
    <label for="">Beneficiary Name</label>
    <input type="text" name="beneficiaryName" [(ngModel)]="beneficiaryName" />
    <label> Beneficiary Email</label>
    <input type="text" name="beneficiaryEmail" [(ngModel)]="beneficiaryEmail" required/>
    <br>
    <label for="">Description</label>
    <input type="text" [(ngModel)]="description" name="description">
    <button type="submit" class="btn waves-effect waves-light" type="submit" name="action">Add
      <i class="material-icons right">send</i>
    </button>

  </form>
</div>
<div class="next-step">
  <button (click)="nextStep()" type="submit" class="btn waves-effect waves-light" type="submit" name="action">Next Step
  </button>
</div>

<div class="wrapper">
  <ul *ngFor="let asset of assets" class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header col s2">
        <i class="material-icons">assignment</i> {{asset.assetName}}
        <i (click)="deleteCard()" class="material-icons">delete_forever</i>
      </div>
      <div class="collapsible-body">
        <span>Asset Name:</span>
        {{asset.assetName}}
        <br />
        <span>Beneficiary:</span>
        {{asset.beneficiaryName}}
        <br />
        <span>Beneficiary Contact:</span>
        {{asset.beneficiaryEmail}}
        <br /> {{asset.assetEmail}}
        <span>Asset:</span>
        <a href="{{asset.file}}">{{asset.file}}</a>
        <br />
        <span>Short Description:</span>
        {{asset.description}}
      </div>
    </li>

  </ul>
