<section>
  <article>
    <video src="assets/Empire.mp4" autoplay loop></video>
    <button class="get-started-btn">
      <a href="/signup">GET STARTED</a>
    </button>
    <button class="search-btn">
      <a class="search" href="#">SEARCH</a>
      <i class="tiny material-icons">search</i>

    </button>
    <div id="gradient">
    </div>
  </article>
  <!-- <img src="assets/gradient.png" alt=""> -->
  <img class="logo" src="./assets/ac-logo.png" alt="" width="300px; height:100px;">
</section>