<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/add-document">Add Document</a></li>
        <li><a href="/payment-method">Payment Method</a></li>
        <li><a href="/assets/benefitiaries">Assets & Benefitiaries</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="#">Contact Suport</a></li>
      </ul>
    </div>
</nav>
  
<section>
   <article >
     <video src="assets/Empire.mp4" autoplay loop></video>
   </article>
   <img class="logo" src="./assets/ac-logo.png" alt="" width="340px; height:110px;">
</section>
