

video{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 1280px;
 
}

.logo{
  position: relative;
  top:270px;
  left: 345px;
}

button{
  position: relative;
  left: 640px;
  bottom:26px;
  background-color: black;
  padding: 15px 55px;
  border-color: black !important;
}

a, span{
  color: white;
}

span{
  position: relative;
  bottom: 6px;
  left: 5px;
  padding: 5px;
}

.waves-effect{
  position: relative;
  top:338px;
  left: 600px;
  /* padding: 29px; */
  background-color: #1b1b1b;

}

.get-started-btn{
  width: 240px;
  height: 60px;
  color: white;
  position: relative;
  top: 330px;
  left: 640px;
}

.search-btn{
  width: 240px;
  background-color: white;
  border-color:white !important;
  position: relative;
  top: 387px;
  left: 396px;
}

.search-btn > a{
  color: black;
}