<section id="main">
  <h1> Testament Home </h1>
  <ul>
      <li><a href="">Home</a></li>
      <li><a href="/login">Sign In</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href (click)="logout()">Sign Out</a></li>
      <li><a href="/add-document">Add Document</a></li>
      <li><a href="/payment-method">Payment Method</a></li>
      <li><a href="/assets&benefitiaries">Assets & Benefitiaries</a></li>
      <a class="waves-effect waves-light btn-large">Button what</a>

  </ul>
</section>
<router-outlet></router-outlet>