body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer{
  position: relative;
  top:620px;
  background-color: #1b1b1b;
}

nav{
  background-color: #d9d9d9 !important;
}

a{
  color: black;
}

#share-buttons img {
  width:35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  }

.social-icon1, .social-icon2, .social-icon3,.social-icon4, .social-icon5{
  float:right;
}

