<app-navbar></app-navbar>
<section>
  <div class="card-profile">
    <img src="http://d3ustg7s7bf7i9.cloudfront.net/mmediafiles/pl/e4/e45b9a86-25e4-4226-ae84-a72763aaf83a_749_499.jpg" width="500px;" alt="">
    <h2>{{username}} {{lastName}} </h2>
    <p>
      <b> About me:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore qui quae, unde,
      <br> recusandae ab placeat, debitis facilis explicabo reiciendis modi molestiae quas expedita. Dicta quos
      <br> laboriosam iusto aliquid voluptates.</p>
    <p>
      <b>My Documents</b>
    </p>
    <div class="files">
      <a href="/testament-details">Testament</a>
    </div>
    <a href="/add-document" class="waves-effect waves-light btn">Start Writing</a>
    <a (click)="editProfile()" class="btn-floating btn-large waves-effect waves-light red">
      <i class="material-icons">create</i>
    </a>
  </div>
</section>