<app-navbar></app-navbar>
<section>
  <div class="card-profile">
    <img src="http://pngimages.net/sites/default/files/user-png-image-15189.png" width="300px;" alt="">
    <h2>{{username}} {{lastName}} </h2>
    <p>
      <b> About me:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore qui quae, unde,
      <br> recusandae ab placeat, debitis facilis explicabo reiciendis modi molestiae quas expedita. Dicta quos
      <br> laboriosam iusto aliquid voluptates.</p>
    <p>
      <b>My Documents</b>
    </p>
    <div class="files">
      <a href="/testament-details" style="color:black;">Testament</a>
    </div>
    <a href="/add-document" class="waves-effect waves-light btn">Start Writing</a>
    <a (click)="editProfile()" class="btn-floating btn-large waves-effect waves-light red">
      <i class="material-icons">create</i>
    </a>
  </div>
</section>