.profile-photo{
  border-radius: 100%;
  margin-left:550px;
  position: relative;
  bottom:70px;
  border: gray solid 3px;
}

.profile-bg{
height: 250px;
background-color: #1b1b1b;
color: white;
}


/* ======================================= */
.btn-floating{
  background-color: #E82011;

}

.card-profile{
  border-top: 1px solid gray;
  padding: 0 5em 0;
  padding-top:5em;

}

h2{
  position: relative;
  bottom: 300px;
  left: 400px;
}

p{
  position: relative;
  bottom: 300px;
  left: 400px;

}

.waves-effect{
  position: relative;
  bottom: 200px;
  left:400px;
  background-color: #E82011;

}

.btn-floating.btn-large{
  position: relative;
  bottom:500px;
  left: 650px;
 
}
.files{
  position: relative;
  right: 380px;
  bottom: 300px;
  padding: 20px;
  margin:10px;
  width: 100px;
  background-color: rgb(145, 180, 201);
  float: right;
}

