body{
}

.login-form{
  padding: 0 30em;
}

.card-signin{
  background-color: white;
  margin-top: 10em;
  border-radius: 3%;
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
  padding: 20px;

}

label{
  color: black;
}

h2{
  color:black;
  font-size: 38px;
  position: relative;
  left:107px;
}

.waves-effect{
  background-color: #4272d7;
  padding: 0 140px;
}