body{
}

.login-form{
  padding: 0 30em;
}

.card-signin{
  background-color: white;
  margin-top: 10em;
  border-radius: 3%;
  border: 1px solid black;
  padding: 20px;

}

label{
  color: black;
}

h2{
  color:black;
  font-size: 38px;
  position: relative;
  left:107px;
}

.waves-effect{
  background-color: #4272d7;
  padding: 0 140px;
}